<h1 class="text-center">My App with Webpack</h1>
<br />
<a class="btn btn-default" [routerLink]="['/home']">To app-home component</a>
<a class="btn btn-default" [routerLink]="['/trips']">To trips-home component</a>

<hr />
<br />

<input type="button" class="btn btn-primary" value="log in" (click)="login()" />
<input type="button" class="btn btn-primary" value="log out" (click)="logOutOfIdSrv()" />

<br />
<hr />

<div class="container">
  <h3 class="text-center">Router content comes below</h3>
  <router-outlet></router-outlet>
</div>
